<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="mongoconnection" value="mongodb://192.168.28.36:27017"/>
    <add key="mongodb" value="geoipdb"/>
    <add key="mongocollection" value="geoip"/>
    <add key="DropDbOnInitialize" value="true"/>
    <!--<add key="dbIPCSVPath" value="\\citfs\Users\JBebiro\ICOMMIT-25757\dbip-country.csv"/>-->
    <!--<add key="IP2LocationPath" value="\\citfs\Users\JBebiro\ICOMMIT-25757\IP2LOCATION-LITE-DB1.CSV"/>-->
    <!--<add key="ipligenceLite" value="\\citfs\Users\JBebiro\ICOMMIT-25757\ipligence-lite.csv"/>-->
    <!--csvPaths format: [path|WillConvertIPToLong],[path|WillConvertIPToLong],[path|WillConvertIPToLong]-->
    <add key="csvPaths" value="\\citfs\Users\JBebiro\ICOMMIT-25757\dbip-country.csv|true,\\citfs\Users\JBebiro\ICOMMIT-25757\IP2LOCATION-LITE-DB1.CSV|false,\\citfs\Users\JBebiro\ICOMMIT-25757\ipligence-lite.csv|false"/>
  </appSettings>
</configuration>