<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- MONGODB SETTINGS -->
    <add key="mongoconnection" value="mongodb://citwin2012svr:9999"/>
    <add key="mongodb" value="geoipdbx"/>
    <add key="mongocollection" value="geoip"/>
    <add key="DropDbOnInitialize" value="true"/>
    
    <!--<add key="dbIPCSVPath" value="\\citfs\Users\JBebiro\ICOMMIT-25757\dbip-country.csv"/>-->
    <!--<add key="IP2LocationPath" value="\\citfs\Users\JBebiro\ICOMMIT-25757\IP2LOCATION-LITE-DB1.CSV"/>-->
    <!--<add key="ipligenceLite" value="\\citfs\Users\JBebiro\ICOMMIT-25757\ipligence-lite.csv"/>-->
    <!--csvPaths format: [path|WillConvertIPToLong],[path|WillConvertIPToLong],[path|WillConvertIPToLong]-->
     
    <!-- 3RD PARTY IP DB PATHS, SEPRATED BY ',' -->
    <add key="csvPaths" value="\\citfs\Users\JBebiro\ICOMMIT-25757\dbip-country.csv|true"/>
    <!--<add key="csvPaths" value="\\citfs\Users\JBebiro\ICOMMIT-25757\dbip-country.csv|true,\\citfs\Users\JBebiro\ICOMMIT-25757\IP2LOCATION-LITE-DB1.CSV|false,\\citfs\Users\JBebiro\ICOMMIT-25757\ipligence-lite.csv|false"/>-->
  
    <!-- COUNTRY FILTER -->
    <add key="countryfilter" value="nz"/>
    
  </appSettings>
</configuration>